html {
    font-size: 16px;
}

body {
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

/* Header */
.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

    /* Добавляет полоску под ссылкой при наведении */
.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}
    /* Добавляет полоску под ссылкой при наведении */
/* Header */