{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c953010c9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url "nutrition:index"%}">CookJam</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-sm-0 top-menu">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url "nutrition:index"%}">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "products:products_list" %}">Продукты</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url "dishes:dishes_list" %}">Блюда</a>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <i class="fa-solid fa-user"></i>
                        {% if request.user.is_authenticated %}
                          {{user.username}}
                        {% endif%}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                          <li><a class="dropdown-item" href="#">Meals</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="{% url "nutrition:logout" %}">Выйти</a></li>
                        {% else %}
                          <li><a class="dropdown-item" href="{% url 'nutrition:signup' %}">Регистрация</a></li>
                          <li><a class="dropdown-item" href="{% url 'nutrition:login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>
    </header>
    <main class="ms-4 me-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Продукты</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Блюда</a></li>
      </ul>
      <p class="text-center text-muted">© 2024 Budko Kirill</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>